@import url("https://snare-hawk.github.io/snare-CSS/profile-panel-thingy.css");
@import url('https://anubisnekhet.github.io/discordCSS/notification-icons.css');
@import url("https://syndishanx.github.io/Discord-Dark/Imports/SettingsIcons.css");
@import url("https://raw.githubusercontent.com/MrDiamondDog/noUglyIconsTheme/master/theme.css);

/*Blur Context Menu

[class^=menu-],[class^=submenu-] {
  background: none;
}
[class^=submenu-] {
  margin: 0 -8px;
}
.theme-dark [class^=menu-]::after,.theme-dark [class^=submenu-]::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.theme-light [class^=menu-]::after,.theme-light [class^=submenu-]::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
[class^=backdrop-] ~ .theme-light[class*=layer-]>[class^=menu-] {
  background: rgba(245, 245, 245, 0.7);
}
[class^=backdrop-] ~ .theme-dark[class*=layer-]>[class^=menu-] {
  background: rgba(10, 10, 10, 0.7);
}
[class^=backdrop-] ~ [class*=layer-]>[class^=menu-]::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
}
.section-3FmfOT, .divider-1tWBgZ, .scroller-1jBQYo {
  z-index: 2;
}
*/
/*:3 React*/

 path[d^="M12.1151 2.00065C12.0768 2.00022 12.0384 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.9616 21.9998 11.9232 21.9993 11.8849C21.1882 12.1737 20.3146 12.3309 19.4043 12.3309C15.1323 12.3309 11.6691 8.86771 11.6691 4.59565C11.6691 3.68536 11.8263 2.8118 12.1151 2.00065ZM7.92105 11.8023C7.92105 12.7107 7.18468 13.4471 6.27631 13.4471C5.36795 13.4471 4.63158 12.7107 4.63158 11.8023C4.63158 10.894 5.36795 10.1576 6.27631 10.1576C7.18467 10.1576 7.92105 10.894 7.92105 11.8023ZM10.5217 14.5171C10.3859 13.9893 9.84786 13.6716 9.32005 13.8074C8.79223 13.9433 8.47448 14.4813 8.61033 15.0091C9.01196 16.5695 10.4273 17.7236 12.1147 17.7236C13.8021 17.7236 15.2174 16.5695 15.6191 15.0091C15.7549 14.4813 15.4372 13.9433 14.9093 13.8074C14.3815 13.6716 13.8435 13.9893 13.7077 14.5171C13.525 15.2267 12.8797 15.7499 12.1147 15.7499C11.3497 15.7499 10.7044 15.2267 10.5217 14.5171Z"] {
  d: path('m12 2c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10 5.523 0 10-4.478 10-10 0-0.0384 5e-4 -0.076283 0-0.11458-0.8111 0.2888-1.6861 0.44531-2.5964 0.44531-4.272 0-7.7344-3.4623-7.7344-7.7344 0-0.91029 0.15651-1.7852 0.44531-2.5964-0.0383-4.3e-4 -0.076183 0-0.11458 0zm-5.724 8.1589c0.90836 0 1.6458 0.73493 1.6458 1.6432 0 0.9084-0.73747 1.6458-1.6458 1.6458-0.90836 0-1.6432-0.73744-1.6432-1.6458 0-0.9083 0.73487-1.6432 1.6432-1.6432zm1.8438 5.5729c0.25251-0.015862 0.50575 0.10482 0.65625 0.30729 0.16198 0.27381 0.19805 0.62398 0.45833 0.84115 0.46684 0.49753 1.3278 0.49756 1.7969 0.002604 0.32446-0.24897 0.26914-0.72458 0.58333-0.97396 0.37809-0.34531 1.0417-0.15559 1.2031 0.32292 0.044428 0.30618 0.19507 0.59846 0.4349 0.79948 0.5078 0.4671 1.3751 0.3905 1.8047-0.14583 0.28002-0.28144 0.22165-0.77826 0.61458-0.96615 0.48615-0.31512 1.1969 0.12779 1.1406 0.70052-0.15245 0.89083-0.79763 1.6681-1.625 2.0208-1.039 0.47433-2.3482 0.20498-3.1224-0.63281-0.50839 0.48608-1.2025 0.77285-1.9062 0.78125-1.2196 0.029143-2.3898-0.83972-2.7135-2.0156-0.19722-0.46057 0.17468-1.0315 0.67448-1.0417z');
}

/*Spotify Green Progressbar*/
#vc-spotify-progress-bar [class|=barFill] {
    background: var(--spotify);
}

/*Twemoji Fix (adds it where it doesn't usually (i.e. statuses)*/
@font-face {
    font-family: "TwemojiColor";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf");
}
:root {
    --font-primary: "gg sans", sans-serif, "TwemojiColor";
}

/*Makes Message Bar consistent with profile menu.*/
.form-3gdLxP {
  padding: 0px;
}

.channelTextArea-1VQBuV {
  margin-bottom: 0px;
}

/* Make the height consistent */
.inner-NQg18Y {
  padding-top: 4px;
  min-height: 49px;
}

/* Move the slowmode/typing indicator */
.base-3bcbY3 {
  top: -24px;
  left: 0px;
  width: fit-content;
  padding-right: 9px;
  border-radius: 0 8px 0 0;
  background-color: var(--channeltextarea-background);
}

.scrollableContainer-15eg7h {
  border-radius: 0px;
  min-height: 53px;
}

/*Should Fix [GIF] Positioning*/
.imageAccessory-2yA7Kb {
    left: initial;
    right: 6px;
}

/*hide the help button in the toolbar*/
[class*="toolbar-"] > a[href*="support.discord.com"]{
    display: none;
}

/* No, I don't want to make a thread from a chain of more than 2 replies */
[class*="threadSuggestionBar-"] {
    display:none;
}

/*Better Discord font (MIGHT BREAK)*/
@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);


/* eat my dick (lol) */
[class*=wumpusTooltip] {
    visibility: hidden;
}

[class*=wumpusTooltip]:after {
    visibility: visible;
}

[class*=wumpusTooltip]:before {
    content:'I\'m new to Discord, eat my dick!';
    visibility: visible;
    display: inline-block;
    background: var(--white-500);
    color: var(--primary-dark-500);
    width: max-content;
    height: max-content;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: relative;
    left: -6px;
    bottom: -6.5px;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: -12px;
    margin-right: 8px;
    -webkit-transition: opacity .11s linear .17s;
    transition: opacity .11s linear .17s;
}

/*ReviewDB Themer*/
textarea[placeholder*="Review @"] {
    background-color: #00000040;
}

/*Hover for Spotify Controls*/
.vc-spotify-button-row {
  height: 0;
  opacity: 0;
  transition: height .2s, opacity .02s;
}

#vc-spotify-player:hover .vc-spotify-button-row {
  height: 32px;
  opacity: 1;
}

/*Devices page looks cool now */
.session-9khLqt {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}

.sessionIcon-2fwSzb {
    color: var(--interactive-normal);
    background: transparent;
}

/*Dash AS space*/
@font-face {
    font-family: "Dashless";
    src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
}

[data-list-item-id^=channels___], /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=resultChannel], /* channel name in search */
[class^=placeholder][class*=slateTextArea] /* "Send a message in #blah" */
{
    font-family: "Dashless", var(--font-primary);
}

/*Remove Invite Button next to channel name*/
.actionIcon-2sw4Sl {
    display: none;
}

/* Re-round Spotify Status Images */
[class^=assetsLargeImageSpotify-]{border-radius:8px;}

/* Hide New Message Stuff When Unfocused */
/* Red New Message Bar */
html:not(.app-focused) [class^=.isUnread-] {
    border-color: transparent;
}
[class^=.isUnread-] { 
    transition: .15s;
}
/* New Message Bar */
html:not(.app-focused) [class^=..newMessagesBar-] {
    opacity: 0;
}
[class^=..newMessagesBar-] {
    transition: .15s;
}

/* Better Alignment or wtvr.  
[aria-label="User area"] {
    margin: 16px;
    border-radius: 8px;
}
[aria-label="User area"] [class^="container-"] {
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}

[aria-label="User area"] [aria-label="Set Status"] {
    min-width: unset;
}

[aria-label="User area"] [class^="nameTag-"] [class*="title-"] {
    max-width: 32pt;
}

[class^="channelTextArea-"] {
    margin-bottom: 16px;
}

[class^="channelTextArea-"] [class^="scrollableContainer-"] {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 52px;
    flex-wrap: wrap;
}

[class^="channelTextArea-"] [class^="scrollableContainer-"] [class^="inner-"] {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

[class^="channelTextArea-"] [class^="scrollableContainer-"] ul[role="list"] {
    flex-grow: 1;
}
*/

/*Change "Discord" Text in top left.*/
.wordmarkWindows-2dq6rw svg {
    display: none;
}
.wordmarkWindows-2dq6rw::after {
    content: 'I am the shipwreck with its scattered and soaked wood littering the ocean like a nest of roaches.';
    display: block;
    position: relative;
    width: 1000px;
    height: 16px;
    line-height: 16px;
    font-family: var(--font-headline);
    font-size: 11px;
    font-weight: 600;
    color: var(--muted-text);
}

/*i'm new here, say hi!*/
[class*=newMemberBadge]:before {
    content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=64&quality=lossless);
    transform: scale(0.32) translate(-100%, -110%);
    display: inline-block;
}

/*show full bio*/
[class|=userPopoutInner] [style*="-webkit-line-clamp"] {
    -webkit-line-clamp: unset !important;
}

/*A decent theme*/
:root {
  --theme-h: 223.5;
  --theme-s: 46.51162790697674%;
  --theme-l: 16.862745098039216%;
}

/* Replace the new pleading face emoji and face holding back tears emoji with the old one in the discord chat bar emoji button */
.sprite-2lxwfc {
  background-image: url('https://raw.githubusercontent.com/Poki-Pancake/junkyard/main/look-what-they-took-from-us.png')
}

/* Match bottom border on user profile container with their status - Border change by DeadVoxels#3520, colour vars left over from Jaegerwald#4833's attempt to help me with this. Thanks a ton for getting me into advanced selectors so I could make this though, Jaeger! */
:root {
    --online-color: #23a559;
    --idle-color: #f0b132;
    --dnd-color: #f23f42;
    --offline-color: #80848e;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Online"]) {
    border-bottom: 3px solid var(--online-color)!important;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Idle"]) {
    border-bottom: 3px solid var(--idle-color)!important;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Do Not Disturb"]) {
    border-bottom: 3px solid var(--dnd-color)!important;
}
.container-YkUktl:has(.avatar-1EWyVD[aria-label*="Invisible"]) {
    border-bottom: 3px solid var(--offline-color)!important;
}


/* Transition + fallback colour */
.container-YkUktl {
    transition: border 100ms ease-in;
    border-bottom: 3px solid var(--blurple);
}

/* corner shigger */
body:before {
  position: fixed;
  bottom: 0; right: 0;
  width: 32px; height: 32px;
  margin: 16px;
  z-index: 999;
  content: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=32&quality=lossless);
}


/* less annoying pings */
[class^=numberBadge] {
    background: #666666 !important;
}

[class*=unreadMentionsBar], [class*=mentionsBar] {
    display: none;
}

/* channel name emoji coloring (swag) */
[id="channels"] [class^=iconContainer-] {
  display: none;
}
[id="channels"] [class^=iconContainer-] + [class^=channelEmoji-] {
  margin-left: -4px;
}
/* Overlay color on text */
[id="channels"] [class^=emojiColorFill-] {
  z-index: 1;
}

:root {
  --global-1: var(--brand-500); // change color here
  --global-2: var(--white-500); // change color here
}

.membersGroup-2eiWxl {
  color: var(--global-2) !important;
  background-color: var(--global-1);
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8px;
  padding: 2px;
  font-size: 12px;
  height: 2.5vh;
  /*font-weight: bold; Use if your font is too light*/
  text-align: center;
}

.containerDefault-3TQ5YN .overflow-1wOqNV {
  color: var(--global-2) !important;
  background-color: var(--global-1);
  border-radius: 6px;
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 6px;
  font-size: 14px;
  /*font-weight: bold; Use if your font is too light*/
  text-align: center;
}
.arrow-2HswgU {
  top: 0px;
  zoom: 125% ;
}

/* glowing current speaker rings */
.avatarSpeaking-2pCGrZ {
  border: 2.5px solid rgb(44, 200, 106);
  box-shadow: 0px 0px 6px rgb(0, 16, 3),  0px 0px 50px rgb(44, 200, 106),  0px 0px 6px rgba(0, 0, 0, 0.953);
  border-radius: 16px;
  margin-left: 6px;
  margin-top: 1px;
}

/* transparent user popout (works great with colors) */
[class^=userPopoutOverlayBackground] {
  background: transparent;
}

/*bouncy buttons*/
button, 
[role="button"],
a[href^='/channels'],
[aria-label="Servers"] [class^=listItem] {
  &:hover { filter: brightness(0.95); scale: 0.95; }
  &:active { filter: brightness(0.9); scale: 1.05; }
  transition: scale 0.6s cubic-bezier(0.34, 5, 0.64, 1);
}

/*make spotify less shit*/
#vc-spotify-player {
    margin-top: 4px;
}

/* make spotify + usermodal thing show playing song*/ 
#vc-spotify-player + [class^="container"] {
    background: transparent;
}
